<template>
  <div>
      <h2><center>QingMing 清明節 Observance 2024</center></h2>
      <h3><center>Bus trip to Karori/Makara Cemeteries 7th April 2024</center></h3>
      <center><a href="https://docs.google.com/forms/d/1wMvtKlMLQgkz2ZuXZTxOhd-M-9XrlvGXQKgJCkV-9fw/viewform">Request a seat on the free bus</a></center>
  </div>
</template>
<script>
    
</script>

<style scoped>
  h3 {
    font-sze: 40;
    color: red;
    padding: 0 1em;
  }
</style>
