<template>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.797570113681!2d174.7775606116331!3d-41.26974327119549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38ae244698f605%3A0x59cceb14e6c9ca73!2sWellington%20Bridge%20Club!5e0!3m2!1sen!2snz!4v1723077877280!5m2!1sen!2snz"
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
</template>

<script>
export default {
  name: "wbcmap"
};
</script>

<style scoped>
iframe {
  border: 0;
}
</style>
